@model Rooms //only one row
@{
}
<div class="container" dir="rtl">
    <div class="alert alert-success">تعديل بيانات الغرفة</div>
    <form asp-action="UpdateRoom" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col">
                <label for="Type" class="p-2">نوع الغرفة</label>
                <input type="text" id="Type" name="Type" class="form-control form-control-sm" asp-for="@Model.Type" />
                <span class="text-danger" asp-validation-for="Type"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="Price" class="p-2"> سعر الغرفة </label>
                <input type="text" id="Price" name="Price" class="form-control form-control-sm" asp-for="@Model.Price" />
                <span class="text-danger" asp-validation-for="Price"></span>

            </div>
            <div class="row">
                <div class="col">
                    <label for="Images" class="p-2"> الصورة </label>
                    <input type="text" id="Images" name="Images" class="form-control form-control-sm" asp-for="@Model.Images" />
                    <span class="text-danger" asp-validation-for="Images"></span>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col text-center">

                    <button class="btn btn-success" type="submit">حفظ</button>


                </div>

            </div>
    </form>

</div>